<!DOCTYPE html>
<html lang="pt-br">

<head>
    <!-- METADATA -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Lêmures Mutualistas">
    <meta name="description" content="Monte uma organização orgânica e aumente a produtividade de sua empresa.">
    <meta name="keywords" content="organização orgânica, gestão de pessoas">

    <!-- DOCUMENT -->
    <title>Scópio</title>

    <!-- ICON -->
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="../stylesheets/layout.css">
    <link rel="stylesheet" href="../stylesheets/map.css">
    <link rel="stylesheet" href="../stylesheets/menu.css">
    <link rel="stylesheet" href="../stylesheets/details.css">
    <link rel="stylesheet" href="../node_modules/normalize.css/normalize.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    <!-- LIBRARIES -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

</head>

<body>
    <!-- HEADER -->
    <div class="h-responsive bg-dark text-white">
        <header>
            <a href="../templates/index.html">
                <img class="float-left m-1" src="../images/scopio-white.png" alt="Logotipo da marca Scópio">
            </a>
            <h1 class="float-left m-1 brand">Scópio</h1>
            <img class="float-right rounded-circle m-1" src="../images/frances-allen.jpg" alt="Sua foto de perfil">
        </header>
    </div>

    <!-- CONTENT -->
    <div id="main">
        <!-- SEARCH BAR -->
        <div>
        </div>

        <!-- ZOOM -->
        <div>
        </div>

        <!-- ELEMENTS -->
        <div>
            <a href="">
                <img src="../images/Elmo/Elmo 01.png" />
            </a>
            <a href="">
                <img src="../images/Elmo/Elmo 02.png" />
            </a>
            <a href="">
                <img src="../images/Elmo/Elmo 03.png" />
            </a>
            <a href="">
                <img src="../images/Elmo/Elmo 04.png" />
            </a>
        </div>

        <!-- BACKGROUND -->
        <div class="bg-img">
            <img src="../images/bg-map.jpg">
        </div>

        <!-- FOOTER -->
        <div class="fixed-bottom bg-secondary text-white">
            <footer>
                <p class="float-right m-1 group">Desenvolvido por Lêmures Mutualistas</p>
            </footer>
        </div>
    </div>

    <!-- SCRIPTS -->
    <script src="../scripts/map.js"></script>
    <script src="../scripts/menu.js"></script>
    <script src="../scripts/details.js"></script>
    <script src="../scripts/business-rules.js"></script>
    <script src="../scripts/api-conection.js"></script>

</body>

</html>